<head>
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<style>
	h1 {color: red; font-family: 'Lobster Two', cursive; font-size: 100px; margin: 0 0 40px;}
	p, li {font-family: arial; text-align: left; font-size: 18px; line-height: 25px; list-style-type: none;}
	a {text-decoration: none;}
	#trash {color: red; margin: 0 0 0 25px;}
	form {margin-bottom: 40px;}
</style>
</head>


<div style="margin: 30px auto 0; text-align: center; ">
	<h1>To Do List</h1>

	<form action="/added" method="POST">
		<input type="text" name="task" placeholder="Add Task">
		<input type="submit" value="Add Item">
	</form>





	<div style="width: 300px; margin: 0 auto;">
		<ul>
			<% @tasks.each do |key, value| %>	<!-- this creates a new li for each in the array -->
				<li class="item-<%= key %>">	<!-- each li class name based on 'key' variable -->
					<span class="task-item" onclick="done('<%= key %>')"><%= key %> @ <%=value%></span>
					<span class="trash" onclick="d('<%= key %>')">Delete<span>
					<!-- creating a specific done or delete function w/'key' variable parameter -->
				</li>
			<% end %>

		</ul>
	</div>
</div>



<script>
function done(key) {
	document.querySelectorAll('li.item-' + key + ' span.task-item').item(0).style.textDecoration = "line-through";		//selecting li-class & span-class 
	var xhr = new XMLHttpRequest();
	xhr.open('POST', encodeURI('/save/' + doneness), true);
	xhr.send();
};
function d(key) {
	document.querySelectorAll('li.item-' + key).item(0).style.display = "none";
	//selecting li-class & span-class
	var xhr = new XMLHttpRequest();		//creates JS server request object instance
	xhr.open('POST', encodeURI('/delete/' + key), true); //POST to defined url location + 'key' variable
	xhr.send();		//sends POST request to the server
}


</script>







