<!DOCTYPE html>
<head>
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="todos_style.css">
</head>

<body>
<div style="margin: 30px auto 0; text-align: center; ">
	<h1>To Do List</h1>

	<form action="/added" method="POST">
		<input type="text" name="task" placeholder="Add Task">
		<input type="submit" value="Add Item">
	</form>





	<div style="width: 300px; margin: 0 auto;">
		<ul>
			<% @list.each_with_index do |task, index| %>
			<!-- this creates a new li for each in the array -->
			<!-- task = object in array | index = object's order in array -->
				<li class="item-<%= index %>">
				<!-- each li class name based on 'task name' variable -->
					<span>
						<span class="task-item-<%= index %>" onclick="complete(<%= index %>)"><%= task.task %> @ <%= task.time %></span>
					</span>
					<button class="btn-trash" onclick="trash(<%= index %>)">Delete</button>
					<!-- creating a specific done or delete function w/'index' variable parameter -->
				</li>
			<% end %>

		</ul>
	</div>
</div>



<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
<script src="todos_script.js"></script>





