<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>My To Do List</title>
	<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="todos_style.css">
</head>

<body>
	<div class="container">

		<header class="header"><h1> My To Do List</h1></header>
		

		<main class="main">

			<div class="col-12 form-task">
				<form action="/added" method="POST">
					<input type="text" name="task" placeholder="Add Task" class="task-name">
					<button type="submit" value="Add Item" class="btn-form">Add Item</button>
				</form>
			</div>

			<div class="notepad  col-8">
				<ul>
					<% @list.each_with_index do |task, index| %>
					<!-- this creates a new li for each in the array -->
					<!-- task = object in array | index = object's order in array -->
						<li class="tasks item-<%= index %> notepad-line">
						<!-- each li class name based on 'task name' variable -->
							<input class="col-1 js-email" id="js-email-selected" type="checkbox">
							<div class="col-8 task-item-container">
								<span class="task-item task-item-<%= index %>">
									<%= task.task %> &mdash; <%= task.time %>
								</span>
							</div>
							<div class="col-3">
								<button class="btn-trash" onclick="trash(<%= index %>)">Delete</button>
								<!-- <button class="btn-trash" type="button">Delete</button> -->
							</div>
							<!-- creating a specific done or delete function w/'index' variable parameter -->
						</li>
					<% end %>
				</ul>
			</div>

		</main>


	</div><!--END OF CONTAINER-->

<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
<script src="todos_script.js"></script>
</body>
</html>